.main {
  @apply mx-auto max-w-5xl px-4 py-8;
}

.main:has([data-explore-page]) {
  max-width: 1440px;
  padding-top: 16px;
}

:global(body):has(.main [data-explore-page]) {
  background-image: none;
}
